<nav class="header-navigation">
  <ul class="list">
    <li class="list-item">
      <a href="#" class="link">GitHub</a>
    </li>
    <li class="list-item">
      <a href="#" class="link">Twitter</a>
    </li>
  </ul>
</nav>
<style>
  .header-navigation {
    border-top: 4px solid #222222;
  }
  .list {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .list-item {
    display: flex;
  }
  .link {
    padding-block: 16px;
  }
</style>
