<nav class="header-navigation">
  <ul class="list">
    <li class="list-item">
      <a href="#">GitHub</a>
    </li>
    <li>
      <a href="#">Twitter</a>
    </li>
    <li>
      <a href="#">Zenn</a>
    </li>
  </ul>
</nav>
<style>
  .list {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
</style>
