---
import Layout from "../layouts/Layout.astro";
import ParallaxText from "../components/ParallaxText.tsx";
import "../styles/destyle.css";
---

<Layout>
  <div class="wrap">
    <div>
      <ParallaxText client:load />
    </div>
    <section>
      <div></div>
      <div>
        <span>Hello World</span>
        <h2>Tomita Kenji</h2>
        <h3>Frontend Developer</h3>
        <p>
          Omar likes to make fun, interactive things with code. <br /> He gets particularly
          excited when these things involve working with others to make an even bigger
          impact.
        </p>
      </div>
    </section>
    <main>
      <div>
        <h4>Have interested in</h4>
        <p>
          I have a deep passion for User Interface (UI) design, particularly
          when it comes to designing effective and intuitive user flows.
          Understanding the journey that users take through an application or
          website is fundamental to creating a successful digital experience,
          and this is an aspect of UI design that I find both fascinating and
          rewarding.
        </p>
      </div>
      <div>
        <h4>Development</h4>
        <p>
          I have honed my skills in development with a strong emphasis on using
          React for front-end development. I have a deep understanding of React
          component-based architecture, which allows me to build reusable and
          efficient components to streamline the development process.
        </p>
      </div>
      <div>
        <h4>My Skills</h4>
        <p>
          Omar is a frontend developer with a passion for building things that
          live on the internet. He develop exceptional websites and web apps
          that provide intuitive, pixel-perfect user interfaces with efficient
          and modern backends.
        </p>
      </div>
    </main>
    <section class="section">
      <ol>
        <li>
          <article>
            <h5>Title of the article</h5>
            <p>
              Omar is a frontend developer with a passion for building things
              that live on the internet. He develop exceptional websites and web
              apps
            </p>
          </article>
        </li>
        <li>
          <article>
            <h5>Another title</h5>
            <p>
              Omar is a frontend developer with a passion for building things
              that live on the internet. He develop exceptional websites and web
              apps that provide intuitive, pixel-perfect user interfaces with
              efficient and modern backends.
            </p>
          </article>
        </li>
        <li>
          <article>
            <h5>Another title</h5>
            <p>
              Omar is a frontend developer with a passion for building things
              that live on the internet. He develop exceptional websites and web
              apps that provide intuitive, pixel-perfect user interfaces with
              efficient and modern backends..
            </p>
          </article>
        </li>
        <li>
          <article>
            <h5>Another title</h5>
            <p>Some other content...</p>
          </article>
        </li>
      </ol>
    </section>
    <footer>
      <p>Let's work together!</p>
      <p>Designed & built by Tomita Kenji</p>
    </footer>
  </div>
</Layout>
<style>
  .wrap {
    margin-block: 24px;
    max-width: 1080px;
    margin-inline: auto;
    border-inline: 4px solid #242520;
    border-radius: 24px;
  }
  .wrap > div:first-child {
    background-color: #00ccff;
    position: sticky;
    top: 24px;
  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  section > div:not(:first-child) {
    border-left: 4px solid #242520;
    padding: 2rem;
    display: grid;
    gap: 24px;
  }
  span {
    font-size: 2vw;
  }
  h2 {
    font-size: 6vw;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1.2;
  }
  h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    color: gold;
  }
  h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    color: white;
    background-color: gold;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #fff;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    border-block: 4px solid #242520;
  }
  main > div {
    padding: 2rem;
  }
  main > div:not(:first-child) {
    border-left: 4px solid #242520;
    padding: 2rem;
  }
  .section {
    display: block;
    padding: 24px;
  }
  article {
    padding-block: 2rem;
  }
  ol {
    display: grid;
    gap: 24px;
  }
  ol > li:not(:last-child) {
    border-bottom: 1px solid #242520;
  }
  footer {
    border-block: 4px solid #242520;
    padding-block: 2rem;
    padding-inline-start: 2rem;
    background-color: #fafafa;
    height: 200px;
    color: #00ccff;
    border-bottom: 4px solid #242520;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }
  footer p {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.8;
    color: #00ccff;
  }
</style>
