---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.tsx";
import Cursor from "../components/Cursor";
import "../styles/destyle.css";
---

<Layout>
  <Cursor client:load>
    <Header />
    <p>Click anywhere to start.</p>
    <h2>Welcome to Astro.</h2>
  </Cursor>
</Layout>
