.header {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  padding: 2rem 1.6rem;
  z-index: 100;
  background-color: transparent;
  pointer-events: none;
}

.navigation {
  display: grid;
  grid-row-gap: 2rem;
  pointer-events: all;
  overflow: hidden;
}

.list-item {
  writing-mode: vertical-lr;
  font-size: 1.1rem;
  font-weight: 600;
}
